<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="content">
        <form method="POST" action="/">
            <h2>Login</h2>
            <div class="field">
                <!-- Added the name attribute -->
                <input type="text" name="username" required>
                <label>Username</label>
            </div>
            <div class="pass">
                <label for="remember">
                    <input type="checkbox" id="remember">
                    <p>Remember me</p>
                </label>
            </div>
            <button type="submit">Log In</button>
        </form>
    </div>
</body>
</html>
